body {
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.container {
    padding: 4em 1em;
    max-width: 1600px;
    margin: 0px auto;
    font-family: 'Baloo Tamma 2', cursive;
}

h1, h2, h3, h4, h5, h6 {

    font-weight:100;
    margin: 0;
  
}

.bg-dark-transparent {
    background: #0e0b0b86;
    color: whitesmoke;
}

#land-header {
    padding: 2em 4em;
    letter-spacing: 0.1em;
    text-align: justify;
    display: flex;
}

.half{
    float: left;
    width:50%;
    padding: 2em 1em;
}

.half > h1 {
    margin: 0;
}

#land-header > .half > ul {
    line-height: 3em;
}

#land-header > .half > a {
    border: 2px whitesmoke solid;
    color: whitesmoke;
    border-radius: 0.4em;
    padding: 0.4em 0.4em 0.2em 0.4em;
    text-decoration: none;
}


#header-img {
    max-width: 400px;
    width: 100%;
}


.hook {
    background: whitesmoke;
    display: inline-block;
    width: 100%;
}

.third {
    float:left;
    width: 33.3%;
}

.card {
    margin: 2em;
}

.text-center {
    text-align: center;
}

#people-say {
    margin-top: -0.7em;
    display: flex;
}

#cta {
    margin-top: -0.7em;
    padding: 2em;
}

#cta > h2{
    margin: 0 0 1em 0;
}

#cta > a{
    border: 2px whitesmoke solid;
    color: whitesmoke;
    border-radius: 0.4em;
    padding: 0.4em 0.6em 0.2em 0.6em;
    text-decoration: none;
    font-size: 1.4em;
}

#experience {
    display: flex;
}

.profile {
    display: block;
    padding: 3em;
}

.profile-img {
    border-radius: 75px;
    width: 150px;
    height: 150px;
}

.profile-text {
    padding: 1em;
    margin: 0 1em;
    border: 2px solid black;
    border-radius: 0.3em;
    text-align: justify;
    line-height: 2em;
    font-size: 1.2em;
}

#btn-to-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    border: none;
    background: #0e0b0b86;
    color: whitesmoke;
    font-size: 2em;
    padding: 0.2em 0.35em;
    border-radius: 1em;
    display: none;
}

.navbar {
    background: #0e0b0b86;
    width: 100%;
    margin: 0;
    padding: 0;
    left:0;
    position: fixed;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: left; */
}

footer {
    background: #0e0b0b;
    color: whitesmoke;
    padding: 1em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

footer > p > a{
    color: whitesmoke !important;
    text-decoration: none;
}

.navbar-list {
    margin: 0;
    list-style: none;
    padding: 1em;
    float: right;
}

.navbar-non-transparent {
    background: #0e0b0b;
}

.navbar-brand {
    margin: 0;
    list-style: none;
    padding: 1em;
    float: left;
    color: whitesmoke;
    text-decoration: none;
}

.navbar-item {
    display: inline;
    padding: 1em 0.5em 1em 0.5em;
    cursor: pointer;
}

.navbar-item:hover{
    border-bottom: white 1px solid;
    padding-bottom: 0.95em;
}

.navbar-brand:hover{
    border-bottom: white 1px solid;
    padding-bottom: 0.95em;
}

.navbar-toggle:hover{
    border-bottom: white 1px solid;
    padding-bottom: 0.95em;
}

.navbar-link{
    color: whitesmoke;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-toggle {
    margin: 0;
    list-style: none;
    padding: 1em;
    float: left;
    color: whitesmoke;
    text-decoration: none;
    display: none;
}

@media(max-width: 480px){
    .navbar-toggle {
        display: block;
    }
    .navbar-list {
        padding-top: 3em;
        display: none;
        float: unset;
    }
    .navbar-item {
        display: block;
    }
    .profile {
        padding: 1em;
    }
    #experience {
        display: block;
    }
}

@media(max-width: 740px){
    #land-header {
        display: block;
        padding: 1em 1em;
    }
    #land-header > .half > ul {
        padding: 1em;
    }
    .half{
        float: unset;
        width:auto;
        padding: 0.5em 0.5em;
    }
    .third {
        width: 100%;
    }
}

@media(min-width: 480px){
    .navbar-list{
        margin: 0;
        padding: 1em;
        float: right;
        display: block !important;
    }
}